<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Bird</title>
	</head>
	<body>
		<div id="app" v-on:keyup.49="greet">
			<div class="score">Score: {{ score }}</div>
			<div class="remaining">Question {{ count }} of {{ limit }}</div>
			<div class="question">
				<canvas v-if="playing" id="questionCanvas" width="300" height="300"></canvas>
			</div>
			<ul class="answers">
				<li v-for="(answer, i) in next.answers">
					<button v-on:click="submitAnswer" class="btn btn--answer" :data-answer="i">{{ answer | tidyName }}</button>
				</li>
			</ul>
		</div>

		<script src="https://unpkg.com/vue"></script>
		<script src="app/app.js"></script>
	</body>
</html>
